@charset "UTF-8";

header {
  background-color: #1dace0;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.icon img {
  width: 60px;
}

.icon {
  margin-left: 60px;
  display: flex;
  align-items: center;
}

.icon strong {
  color: #eae51f;
}

.headser-right {
  display: flex;
  margin-right: 60px;
  align-items: center;
  height: 100%;
}

.headser-right li {
  margin-right: 20px;
}

.welcome {
  height: 500px;
  background: url(../img/background1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

h1 {
  font-size: 64px;
}

.guideline {
  font-size: 28px;
  margin-top: 50px;
  font-weight: bold;
}

.guideline li {
  margin-top: 16px;
}

.btn-group {
  margin-top: 60px;
}

.btn{
  width: 170px;
  height: 55px;
  cursor: pointer;
  color: white;
  font-size: 28px;
  border-radius: 10px;
}

.register{
  background-color: rgba(29, 172, 224, .5);
  border: 3px solid rgba(29, 172, 224, .5);
}

.login {
  background-color: rgba(236, 227, 35, .5);
  border: 3px solid rgba(236, 227, 35, .5);
}

.register:hover{
  background-color: rgb(29, 172, 224);
  border: 3px solid rgb(29, 172, 224);
}

.login:hover {
  background-color: rgb(236, 227, 35);
  border: 3px solid rgb(236, 227, 35);
}

.curriculum {
  margin-top: 50px;
}

h2 {
  text-align: center;
  font-size: 36px;
}

.img-box {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.img-box img {
  width: 300px;
}

.img-box li {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 60px;
}

.img-box li:last-child {
  margin-right: 0;
}

.img-box li span {
  font-size: 24px;
  margin-top: 20px;
}

.contact {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  background-color: #ebf4f5;
}

.form {
  width: 60%;
  margin: 0 auto;
  height: 250px;
  display: flex;
  justify-content: space-between;
}

.form-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-left input {
  margin-top: 10px;
  height: 50px;
  font-size: 16px;
}

.form-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-right textarea {
  height: 100px;
  font-size: 16px;
}

.submit {
  text-align: center;
}

.contact input[type=submit] {
  background-color: #1dace0;
  color: white;
  border: 3px solid #1dace0;
  border-radius: 10px;
  font-size: 24px;
  padding: 15px 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #233f51;
  color: white;
  font-size: 18px;
}

.footer-right {
  margin-right: 60px;
}

@media screen and (max-width:560px){
  .icon span{
    /* visbilityとopacityは透明になってるだけ */
    /* noneは完全に消し去る */
    display: none;
    /* visibility: hidden;
    opacity: 0; */
  }
  .icon{
    margin-left: 20px;
  }
  .headser-right{
    margin-right: 20px;
  }

  h1{
    font-size: 30px;
  }

  .btn-group{
    display: flex;
    flex-direction: column;
    /* margin: 50px auto; */
    align-items: center;
  }
  .btn{
    margin: 10px;
  }

  .img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-box li{
    margin-right:0;
    margin-bottom: 30px;
  }

  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-right,.form-left{
    width: 100%;
  }

  .submit{
    margin-top: 20px;

  }



  footer .icon{
    display: none;
  }
  .footer-right{
    width: 100%;
    text-align: center;
    margin: 0;
  }
  footer{
    height: 50px;
  }
}


